.card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.card-img{
    width: 200pt;
}
h1{
    display: inline-block;
}